html {
    text-align: center;
}

h1 {
    font-family: 'Are You Serious', cursive;
    font-family: 'Arvo', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Secular One', sans-serif;
    padding-top: 50px;
}

h2 {
    font-family: 'Are You Serious', cursive;
    font-family: 'Arvo', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Exo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size : 35px
}

h3 {
    font-family: 'Are You Serious', cursive;
    font-family: 'Arvo', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Exo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size: 27;
}

.menu {
    position: fixed;
    top: 0px;
    margin-top: 0%;
    z-index: 10;
    list-style: none;
    cursor: pointer;
    width: 100%;
    background-color: #d9d9d9;
}

.link {
    display: inline;
    padding-left: 20px;
    font-family: 'Are You Serious', cursive;
    font-family: 'Arvo', serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Exo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color:black;
}